@helper AjoutMenu(Dictionary<string, string> _menu)
{
    foreach (KeyValuePair<string, string> item in _menu)
    {
        <li class="nav-item"> <a class="nav-link" href="@(item.Value)"> @(item.Key) </a> </li>
    }
}

@helper GameInfo(string image, string categorie, string title, string dev, DateTime date, string syno, string link)
{
    <div class="col-md-4">
        <img src="@image" width="280" height="380" />
        <p></p>
        <p>Categoerie : @categorie.ToUpper()</p>
        <p>Titre : @title</p>
        <p>Developpeur : @dev</p>
        <p>Date de sortie : @date.ToString("dd/MM/yyyy")</p>
        <p>Synopsis : @syno</p>
        <a href="@link">@link</a>
        <br />
        <p></p>
        <button type="button" onclick="history.go(-1);">Retour</button>
    </div>
}

@helper GameList(int id, string image, string title, string dev)
{
    <div class="col-md-4">
        <a href="~/home/info/@id"> <img src=@image width="120" height="180" /> </a>
        <p></p>
        <p>@title</p>
        <p>@dev</p>
    </div>
}